<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<form action="/login/sign" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="student_id">학번</label>
            <input type="text" class="form-control" id="student_id" name="student_id" placeholder="ex)2016722091">
        </div>
        <div class="form-group col-md-6">
            <label for="passwd">Password</label>
            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="****">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">이름</label>
            <input type="text" class="form-control" id="sname" name="sname" placeholder="ex)홍길동">
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-6">
            <label for="class">학년</label>
            <input type="text" class="form-control" id="class" name="class" placeholder="ex)1,2,3">
        </div>
        <div class="form-group col-md-6">
            <label for="major">전공</label>
            <input type="major" class="form-control" id="major" name="major" placeholder="ex)컴퓨터정보공학부">
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input class="form-check-input" type="radio" name="gender" id="gender" value="남" checked>
    <label class="form-check-label" for="gender">
        남
    </label>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input class="form-check-input" type="radio" name="gender" id="gender" value="여" checked>
    <label class="form-check-label" for="gender">
        여
    </label>
    <button type="submit" class="btn btn-primary" style="float: right">Sign in</button>
</form>

</body>
</html>